body {
	background-color: #23272A;
	color: #fff;
	font-family: Arial, sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}


#hero p {
	font-size: 18px;
	line-height: 1.5;
	color: #ccc;
	margin-bottom: 40px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
  }

nav ul {
	list-style: none;
	display: flex;
}

nav li {
	margin-left: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
	transition: background-color 0.3s ease;
}

nav a:hover {
	background-color: #4f545c;
}

main {
	padding: 20px;
}

section#hero {
	text-align: center;
	padding: 50px 0;
}

section#hero h2 {
	font-size: 36px;
	margin-bottom: 20px;
}

section#hero p {
	font-size: 20px;
	margin-bottom: 30px;
}

.buttons {
	display: flex;
	justify-content: center;
}

.buttons .button {
	display: inline-block;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	transition: background-color 0.3s ease;
}

.buttons .button.primary {
	background-color: #7289DA;
	color: #fff;
	margin-right: 20px;
}

.buttons .button.secondary {
	background-color: #2C2F33;
	color: #fff;
}